.main-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  flex-wrap: wrap;
  padding: 50px;
  transition: 0.3s all ease;
  background-color: #6d6d6d;
}

/* post wrapper */
.divWrapper {
  max-width: 250px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #cecece;
  border-radius: 15px;
  transition: 0.4s all ease;
  cursor: pointer;
}

.divWrapper:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.divWrapper.active {
  background-color: #3d3d3d;
  color: #fff;
  box-shadow: rgba(206, 35, 35, 0.65) 0px 5px 15px;
}
/* id number */
.top-right-corner-element {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  font-size: 30px;
}

/* image */
.image-item {
  width: 80%;
  margin: 0 auto;
}

/* first name */
.nametag {
  margin-top: 30px;
  font-size: 14px;
}
/* lastname */
.last-name {
  margin-top: 30px;
  font-size: 14px;
}

/* age */
.age {
  margin-top: 30px;
  font-size: 14px;
}

/* adress */
.adress {
  margin-top: 30px;
  font-size: 14px;
  display: flex;
}

@media (max-width: 900px) {
  .main-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
